<h2>{{title}}</h2>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-target="#filter" data-toggle="collapse">
      <label>Filter By</label>     
    </button>
  </div> 
  <div class="navbar-collapse collapse" id="filter">
    <ul class="nav navbar-nav">
    <li><a class="btn btn-outline-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</a></li>
      <li><a class="btn btn-outline-info" [class.active]="filterBy=='food'" (click)="filterBy='food'">Food</a></li>
        <li><a class="btn btn-outline-info" [class.active]="filterBy=='people'" (click)="filterBy='people'">Portrait</a></li>
          <li><a class="btn btn-outline-info" [class.active]="filterBy=='travel'" (click)="filterBy='travel'">Travel</a></li>
    </ul>  
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<ul id="thumbnailsList"> 
  <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
    <a [routerLink] ="['/image', image.id]">
    <img src="{{image.url}}" class="tn" width="auto" height="160">
  </a>
    <span id="caption">
    <p> {{ image.caption }}</p>   
    </span>
  </li>
</ul>
    </div>
  </div>
</div>

