<h2>{{title}}</h2>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-target="#filter" data-toggle="collapse">
      <label>Filter By</label>     
    </button>
  </div> 
  <div class="navbar-collapse collapse" id="filter">
    <ul class="nav navbar-nav">
    <li><a class="btn btn-outline-info" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</a></li>
      <li><a class="btn btn-outline-info" [class.active]="filterBy=='food'" (click)="filterBy='food'">Food</a></li>
        <li><a class="btn btn-outline-info" [class.active]="filterBy=='people'" (click)="filterBy='people'">Portrait</a></li>
          <li><a class="btn btn-outline-info" [class.active]="filterBy=='travel'" (click)="filterBy='travel'">Travel</a></li>
    </ul>  
</div>
<ul id="thumbnailsList" > 
  <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
    <a [routerLink] ="['/image', image.id]">
    <div class="thumbnail col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <img src="{{image.url}}">
    </div>
  </a>
  </li>
</ul>

