ul{ padding: 0;  margin: 20px auto}
li { display: inline; }
.active{
    margin: 6px;
    border: 4px solid #eee;
    box-shadow: rgb(157, 228, 228) 1px 1px 8px 1px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}
.custom-display{
    display: inline-block;
}
.thumbnail img{
    height:160px;
    width: auto;
}